[submodule "HelloAndroid"]
	path = HelloAndroid
	url = https://github.com/numerative/HelloAndroid
[submodule "Just-Java"]
	path = Just-Java
	url = https://github.com/numerative/Just-Java/
[submodule "Court-Counter"]
	path = Court-Counter
	url = https://github.com/numerative/Court-Counter
[submodule "Gmail-Clone"]
	path = Gmail-Clone
	url = https://github.com/numerative/Gmail-Clone
